@media screen and (min-width:576px) and (max-width:992px) {
    .banner-container,
    .footer-content
    {
        flex-direction: column;
    }
    .banner-left-part,
    .banner-right-part,
    .habit-item,
    .bmi-left-side,
    .bmi-right-side,
    .footer-left-side,
    .footer-right-side
    {
        width: 100%;
    }
    .card-1 {
        top: 360px;
        left: 80px;
    }

    .card-2{
        top: 135px;
        left: 400px;
    }

    .habit-title {
        width: 80%;
    }
    .habit-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .left-inner-content, .bmi-top-content {
        width: 90%;
    }
    .run-right-side img{
        width: 80%;
    }
    .bmi-top-content p{
        width: 75%;
    }
    .bmi-main-content{
        display: block;
        padding-top: 1px;
    }
    .run-left-side {
        padding: 2.5rem;
    }
    .run-left-side h3 {
        margin-top: 0;
    }
    .run-right-side {
        text-align: center;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .run-right-side img {
        width: 100%;
    }
    .training-image-text-2 {
        top: 90px;
        left: 20px;
        width: 80%;
        font-size: 0.8rem;
    }
    .training-image-text-1 {
        top: 115px;
        left: 20px;
        width: 80%;
        font-size: 0.8rem;
    }
    .color-h3 {
        font-size: 2rem;
    }
    .footer-right-side{
        gap: 0;
    }
}





@media screen and (max-width:576px) {
    
    /* Menubar Responsive  */

    .hamburger-menu{
        display: block;
    }
    .hamburger-menu i{
        color: white;
    }
    .nav-container>.menu-ber{
        display: none;
    }
    /* banner, habit, bmi, footer responsive */

    .banner-container,
    .habit-content,
    .bmi-main-content,
    .footer-content,
    .footer-right-side,
    .footer-right-side
    {
        flex-direction: column;
    }
    .banner-right-part, 
    .habit-title ,
    .left-inner-content,
    .run-right-part img,
    .bmi-right-side,
    .bmi-left-side,
    .footer-left-side,
    .footer-left-side p,
    .footer-right-side,
    .right-left-side,
    .right-right-side
    {
        width: 100%;
    }

    .banner-left-part{
        width: 100%;
    }

    .banner-left-part h1 {
        font-size: 3rem;
        font-weight: 500;
    }

    .shape-style{
        font-size: 4rem;
    }

    .color-h3{
        font-size: 2rem;
    }

    .color-h4{
        font-size: 1.8rem;
    }

    .btn-primary{
        padding: 15px 30px;
        font-size: 0.8rem;
    }

    .btn-secondary{
        padding: 15px 40px;
        font-size: 0.8rem;
    }

    .card-1{
        top: 280px;
        left: 20px;
    }
    .card-1 h4{
        font-size: 1rem;
    }
    .card-1 p{
        font-size: 0.7rem;
    }
    .card-2{
        left: 200px;
        top: 90px;
    }
    
    .card-2 h4{
        font-size: 1.5rem;
    }
    .card-2 p{
        font-size: 0.5rem;
    }
   
    /* Habits Section responsive */

    .habit-title h3{
        font-size: 2.20rem;
    }
    .habit-item {
        width: 100%;
    }
    .traingi-p{
        width: 100%;
    }

    /* Run, BMI Section Responsive */

    .run-container,
    .bmi-top-content{
        flex-direction: column;
        width: 90%;
        padding: 0;
    }

    .run-left-side,
    .run-right-side{
        width: calc(100% - 5rem);
    }

    .run-right-side img {
        width: 100%;
    }

    /*  Trainings and Exercises Section Responsive*/

    .training-image .image-1 {
        grid-column: 1/span 6;
    }

    .training-image .image-2 {
        grid-column: 7/span 6;
    }
    
    .training-image .image-3 {
        grid-column: 1/span 6;
    }
    
    .training-image .image-4 {
        grid-column: 7/span 6;
    }
    
    .training-image .image-5 {
        grid-column: 1/span 6;
    }
    
    .training-image .image-6 {
        grid-column: 7/span 6;
    }

    .training-text{
    width: 80%;
    }

    .training-image img {
        height: 150px;
    }
    .training-image-text-1, .training-image-text-2 {
        top: 99px;
        left: 16px;
        width: 79%;
        font-size: 10px;
    }

    .run-btn{
        margin: 20px auto;
    }
    form input, form option{
        width: 87.5%;
    }
    .meet-image-contents{
        grid-template-columns: 1fr;
    }
    .meet-our-team-p {
        width: 100%;
    }
    .footer-right-side{
        gap: 0;
    }


}
    


